<stage active="active" created="" name="full name2 in config.xml" id="test2">
<splash>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</splash>
<showdebugscreen>DEBUG</showdebugscreen>
<avatar media="video/video.jpg" voice="" name="name_video" showname="show">
</avatar>
<avatar media="helen_av.swf" voice="e_en-n" name="name_avatar" showname="show">
</avatar>
<prop media="megaphone.swf" name="name_prop">
</prop>
<backdrop media="background.swf" name="name_backdrop">
</backdrop>
<audio media="music.mp3" type="music" name="audio_music">
</audio>
<access_one>
</access_one>
<access_two>
</access_two>
<access_three>
</access_three>
<chatbgcolour>0xFFFFFF</chatbgcolour>
<toolsbgcolour>0xFFFFFF</toolsbgcolour>
<pagebgcolour>0xFFFFFF</pagebgcolour>
</stage>