Package: upstage
Version: 2.4.1
Section: web
Priority: optional
Architecture: i386
Essential: no
Pre-Depends: python (>= 2.5.2), python-twisted, festival, gif2png, lame, netpbm, espeak, mbrola, rsynth, swftools
Recommends: firefox, flashplayer-plugin
Installed-Size: 2867
Maintainer: UpStage@AUT (aut.upstage.team@gmail.com)
Provides: UpStage
Description: UpStage - the online venue for cyberformance
