<stage active="active" created="" name="test" id="test">
<showdebugscreen>DEBUG</showdebugscreen>
<access_one>
</access_one>
<access_two>
</access_two>
<access_three>
</access_three>
<chatbgcolour>0xFFFFFF</chatbgcolour>
<toolsbgcolour>0xFFFFFF</toolsbgcolour>
<pagebgcolour>0xFFFFFF</pagebgcolour>
</stage>
