<stage active="active" created="2013-02-15 05:25:59.203976" name="test" id="test">
<showdebugscreen>DEBUG</showdebugscreen>
<avatar media="YIhIQrqE.swf" voice="default" name="av" showname="show">
</avatar>
<!-- 
<avatar media="video/video.jpg" voice="default" name="video_av" showname="show">
</avatar>
-->
<!-- 
<avatar media="stream.swf" voice="default" name="stream_av" showname="show">
</avatar>
-->
<!-- 
<avatar media="JbrX5b7b.swf" voice="" name="megaphone" showname="show">
</avatar>
-->
<!-- 
<avatar media="transparent_320x240.png" voice="" name="stream_av" showname="show">
</avatar>
-->
<avatar media="library:aaaaaaaa:VideoOverlay" voice="" name="stream1" showname="show">
</avatar>
<avatar media="library:bbbbbbbb:VideoOverlay" voice="" name="stream2" showname="show">
</avatar>
<avatar media="library:cccccccc:VideoOverlay" voice="" name="stream3" showname="show">
</avatar>
<avatar media="library:gggggggg:VideoOverlay" voice="" name="stream_flv" showname="show">
</avatar>
<!-- 
<avatar media="library:iiiiiiii:VideoOverlay" voice="" name="stream_mp3" showname="show">
</avatar>
-->
<avatar media="library:kkkkkkkk:VideoOverlay" voice="" name="stream_mp3" showname="show">
</avatar>
<access_one>
</access_one>
<access_two>
</access_two>
<access_three>
</access_three>
<chatbgcolour>0xFFFFFF</chatbgcolour>
<toolsbgcolour>0xFFFFFF</toolsbgcolour>
<pagebgcolour>0xFFFFFF</pagebgcolour>
</stage>
