/* Title:	main.css
 Description:	css file for upstage login & workshop area
 Author:	Douglas Bagnall
 Modification History: 
 Version	Date		Person	Description
 1.0		??/??/??	DB	Started
 1.1		??/??/??	AUT-06	???
 1.2		14/09/07	PQ	Added this header.
					Added green gradient background image to appear on all pages.
					ADDED font from DEFAULT! to Sans-Serif in body{}
					Added semi-colons to some lines below to become standardized.
 1.3		08/11/07	PQ  Changed .canact, .cansu and .can admin colours to see better
 					on the new green gradient background
 1.4		04/02/10	Shaun Narayan - Added masterpage formatting options, including navigation
 										bar(s) and footer field. Also rules for media edit, and 
 										stage edit fields were defined. Defined a class for UIButtons
 										to make changes cascade so formatting could be done from a single
 										point of refrence (also actually allows button customization).
 1.5		12/04/10    Shaun Narayan - Modified rules to incorporate changes identified in client meeting
 										(white BG, grey buttons, nav spacing, workshop nav text size).
 1.6		08/06/11    Mohammed Al-Timimi - Numerous colour changes/fixes + background change
 1.7		09/06/11    Mohammed Al-Timimi - Centered the footer/Added bottom/top margins to allign the page correctly (masterpage)
		09/08/2011 Vibhu - Made changes to align elements

		Modified by: Vibhu & Nessa: Added lines 481 onwards which are used to style the image browser gallery

1.8			27/06/12	Daniel Han From line 557
1.9			29/08/12	Daniel Han/Gavin Chan line 696 - scroller for edit player form & line 828 custom exit button

            15/09/12   Daniel Han   - Added #workshopnav infront of all ul/li
            18/09/12   Daniel Han   - Added Stage loading style.
2.0			5/10/12	   Craig Farrell	- added padding to stage list table headers			
*/


/* Stuff from upstage.org.nz */
/* used for default style of html pages */
body, td, p
{ 
	color: #0C0C0C; 		/* Mohammed Al-Timimi (08/06/11) - lightened text colour slightly to soften it up a little */
	font-size: 12px;		/* PQ: Changed from 11px to 12px */
	line-height: 14px; 
	font-family: Tahoma, Geneva, sans-serif;
	/* PQ: Added Sans-Serif font above */
	text-decoration: none;
}

body
{
	/* Mohammed Al-Timimi (08/06/11) - Changed BG image */
	background-image:url('../image/main-bg.jpg');
/*	min-width:1200px;	(29/10/2010 PR - Was causing view fault when not maximized */
	margin:0;
	padding:0;
}

a
{ 
	color: #669900; 
	font-weight: bold; 
	text-decoration: underline;
}

h1
{ 
	color: #1e1e1e;
	font-weight: bold; 
	font-size: 14px; 
	line-height: 14px;
	margin:0 0 20px 0;
}

h3
{
	margin: 0;
	padding: 0;
}
      
a:hover
{ 
	color: #767676;
	text-decoration: none;	/* PQ: Added */
}


br
{
	line-height: 14px;
}

.quote
{ 
	color: #d2691e; font-size: 10px;
	line-height: 14px;
}

.title
{ 
	color: #9e0b0e;
	font-weight: bold;
}
        
a.body
{
	font-weight: normal;
}
/*stuff for upstage app itself */
th
{
	text-align:left;
	color: #767676; 
	font-weight: bold; 
	font-size: 12px; 
}   

body.full
{
	margin: 0px;
    height: 100%;
}
tr.inactive
{
	color: #999;
}

tr.inactive a
{
	color: #9999aa;
}

p.error
{
	font-size: 120%;
	color:  #cc0000;
}

.canact
{
	color: #003300;
}

.canadmin
{
	color: #700000;
}
.cansu
{
	color: #c00;
}


/* Alan Crow - 12/09/07 - Displays the upload limiting messages. */
#message
{
	width: 600px;
	/*height: 60px;*/
	border: 1px solid #000000;
	padding: 0.8em;
}

.alert_message 
{
	background-color: #FF6666;
}

.reminder_message
{
	background-color: #FFFFCC;
}

.no_space 
{ 
	margin: 0px; 
	padding: 0px; 
}
/* Shaun Narayan (01/30/10) - Following rules apply to master page for consistency. */
/* Mohammed Al-Timimi (9/06/2011) - Added bottom/top margins to align the page correctly */
#masterpage
{
	/*
	margin-left:10%;
	margin-right:10%;
	margin-top: 40px;
	margin-bottom: 40px;
	*/
	margin: 40px auto;
	/*height:100%;*/
	border: 2px #669900 solid;
	background-color : #FFFFFF;
	/*min-width:960px;*/
	min-width:1004px;
	max-width:1120px;
	width:auto;
	/*overflow:auto;*/
}
#header
{
	border-bottom: 5px #669900 groove;
	padding-bottom: 20px;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100px;
}
#logo
{
	float:left;
}
#signup
{
	float:right;
	text-align:right;
}
#nav
{
	padding-top:80px;
	padding-left:150px;
}
#nav a
{
	color: #1b1b1b;
	padding-left : 10px;	
}

/* Mohammed Al-Timimi (08/06/2011) - added hover effect for nav links */
#nav a:hover
{
	color: #669900;
}
#status
{
	position:fixed;
	background-color:#5555FF;
	color:#FFFFFF;
	width:20%;
	height:20px;
	left:0px;
	top:0px;
	
}
#workshopnav
{
	font-size:14px;
	border-bottom: 5px #669900 groove;
	padding-bottom:20px;
}

#linebreak
{
	border-bottom: 5px #669900 groove;
	padding-bottom:20px;
}

/* Mohammed Al-Timimi (08/06/2011) - added hover effect for workshop links */
#workshopnav a:hover
{
	color: white;
}
/*Shaun Narayan (02/04/10) - Following rules apply to Stage Page*/
/*Edited by Daniel (27/06/2012)*/
#submit
{
	position:relative;
}
#edit
{
	height:auto;
	overflow:hidden;
}

/*Mohammed Al-Timimi (08/06/11) - Syntax was completely wrong for the following */
#page 
{
	padding: 20px;
}

#stageselection, #filterdiv, #mediaup, #editplayer
{
	padding-top: 20px;
}
#warning
{
	color:#FF5555;
}
#colors
{
	z-index:1;
	position:relative;
}
#right
{
	position:relative;
	top:0px;
}
.hidden
{
	visibility:hidden;
	display:none;
}
/*Shaun Narayan (02/04/10) - Rules for media edit page*/
#imagebardiv
{
	width:100%;
	height:150px;
	position:relative;
}
#mediadiv
{
	clear:both;
}
#black
{
	position:absolute;
	left:0;
	top:0;
	width:1px;
	height:1px;
	z-index:1;
}
/*Shaun Narayan (02/04/10) - Workshop nav*/
#workshopnav ul
{
	list-style-type:none;
	padding:0px;
	margin:0px;
}
#workshopnav li
{
	display:inline;
}
#workshopnav li a:link
{
	text-decoration:none;
	padding-right:8px;
}
#workshopnav li a:active
{
	color:#FFFFFF;
	background-color:#000000;
	text-align:center;
}
#workshopnav li a:hover
{
	background-color:#7A991A;
}
/*Shaun Narayan (02/04/10) - Footer Section*/
/*Mohammed Al-Timimi (9/06/2011) - Centered the footer */
#footer
{
	text-align: center;
	padding-top:10px;
}
#footer img
{
	position:relative;
	left:-13px;
	top:3px;
	border:none;
}
#footer li a
{
	text-decoration:none;
	margin:3%;
	padding-right:2%;
	padding-left:2%;
	background-color:#000000;
	color:#DDDDDD;
	border:2px #555555 solid;
}
#footer li a:hover
{
	background-color:#999999;
}

/* Upload Media */

#bottomSettingsContainer {
	width:100%;
	display:inline-block;
}

label {
	padding-right:5px;
}

input, select, button {
	margin-right:5px;
	display:inline-block;
	padding:2px;
}

.fileupload {
	width:100%;
	float:left;
}

#muLeftContent {
	position: relative;
	float: left;
	width: 60%;
	height: auto;
	padding: 10px;
	margin: 10px;
	overflow: auto;
	border: 2px solid #669900;
}

#muRightContent {
	position: relative;
	float: left;
	width: 30%;
	height: 280px;
	padding:10px;
	margin: 10px;
	border: 2px solid #669900;
}

#muLeftContent-audio {
	float: left;
	width: 40%;
	height: 300px;
	padding: 5%; /* 10px*/
	margin: 10px;
	overflow: auto;
	border: 3px solid green;
	
}

#muLeftContent-video {
	float: left;
	width: 40%;
	height: 300px;
	padding: 5%; /* 10px*/
	margin: 10px;
	overflow: auto;
	/*padding-bottom: 50px;
	margin: 10px 10px 100px 10px;
	*/
	border: 3px solid green;
}

#mediaPreview {
	float: top;
	width: 20%;
	height: 20%;
	padding: 5%;
	margin: 10px;
	border: 3px solid blue;
}

/*
fieldset {
	border:none;
	margin:10px 0;
	padding:5px 0 10px 0;
}

legend {
	font-weight:bold;
	font-style: italic;
	color:#669900;
}
*/

.fieldrow {
	width:100%;
	margin:5px 0 15px 0;
	display:block;
}

table.media_details td
{
  margin: 0px;
  padding: 6px;
}

/*Shaun Narayan (02/04/10) - Class defs for buttons*/
a.UIButton
{
	display:block;
	width:60px;
	text-decoration:none;
	background-color:#CCCCCC;
	color:#000000;
	border:2px #000000 outset;
	padding:5px 20px 5px 20px;
}
a.UIButton:hover
{
	color:#9e0b0e;
}
a.UIButton:active
{
	border:3px #FFFFFF inset;
}
a.IconButton
{
	border:none;
}
#app
{
	background-color:#FFFFFF;
}

/*Mohammed Al-Timimi (13/06/2011) - Made the submit buttons on media upload page go to a new line*/
#submitbuttons
{
	padding-top: 10px;
	clear: both;
}

/*Mohammed Al-Timimi (13/06/2011) - Centre the stage */
#stagedisplay
{
	margin: auto;
	text-align: centre;
	border: 2px #669900 solid;
	width: 1200px;
	background-color: white;
	height: auto;
}

/*  
	Added by - Vibhu & Nessa (17/08/2011): new Style for image slide show. 

*/

	#dhtmlgoodies_slideshow{
		width:100%;	/* Total width of slideshow */
	}
	
	#galleryContainer{
		
		height:140px;	/* Height of the images + 2 */
		border:1px solid #CCCCCC;
		position:relative;
		overflow:hidden;
		padding:1px;
		
		/* CSS HACK */
		height: 160px;	/* IE 5.x - Added 2 pixels for border left and right */
		height/* */:/**/160px;	/* Other browsers */
		height: /**/160px;
				
	}
	#arrow_left{
		position:absolute;
		left:0px;
		z-index:10;
		background-color: #FFF;
		padding:1px;
	}
	#arrow_right{
		position:absolute;
		right:0px;
		z-index:10;
		background-color: #FFF;
		padding:1px;		
	}
	#theImages{
		position:absolute;
		height:300px;
		left:40px;
		width:200000px;
	}
	#theImages #slideEnd{
		float:left;
	}
	#theImages img{
		float:left;
		padding:1px;
		filter: alpha(opacity=10);
		opacity: 0.5;
		cursor:pointer;
		border:0px;
	}
	#theImages table{
		float:left;
	}
	
	#theImages .imageCaption{
		display:none;
	}

/* 18/08/2011 */

#tagDiv
{
	color:green;
	text-decoration:none;
}

#tagDiv :link
{
	color:green;
	text-decoration:none;
}

.disableLink :link {
	color:black;
	text-decoration:none;
}

/* 27/06/2012 Daniel Han */

#divForm
{
	margin: 10px;
	padding: 10px;
}

#editStageGeneral
{

}

#editStageColor
{
	float:right;
	margin: 10px;
	border-left: #690 1px dashed;
	padding-left: 10px;
	height:100%;
	width: 300px;
}

#stagename
{
	width: 100%;
	border-bottom: #690 1px dashed;
	border-top: #690 1px dashed;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#editStageSplash
{
	border-bottom: #690 1px dashed;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow:auto;
}

#editStageAccess
{
	border-bottom: #690 1px dashed;
	padding-top: 10px;
	padding-bottom: 10px;
}

#splash_message
{ 
	width:99%;
	height:8em;
}

#ColorPicker
{
	width:100%;
	padding: 5px;
}

#ColorPickerTr
{

}

#ColorPickerTd
{
	width:16px;
	height:15px;
}

/* Daniel Han  29/06/2012 */
.left_section
{
    margin: 10px;
    padding: 5px;

}

.search_section
{
    background-color: #eee;
    padding: 5px;
    border-bottom: #ccc 1px solid;
}

.player_list
{
	padding: 5px;
}

.player_list .user
{
	margin: 10px;
}

.player_list .user_over
{
	background-color: #eee;
	margin: 10px;
	border-bottom: #ddd 1px solid;
}

.player_list .user[selected="selected"]
{
	background-color: #eee;
}

.user_table td
{
	padding: 5px;
}

.row_header
{
	color: #690;
}

.right_section
{
	
    float: right;
    background-color: #FFF;
    width: 500px;
    border-left: #ddd 1px solid;

}

.edit_player
{
	visibility: hidden;
	margin:10px;
	padding:15px;
	position:fixed;
	background-color: #fff;
	
    left:30%;
    top:30%;
    height: 50%;
    overflow: auto;
    box-shadow: #aaa 1px 1px 10px;
    border-radius: 5px;
    border: #888 2px solid;
	
}

#wrapAccess
{
	margin: 10px;
	padding: 15px;
	box-shadow: #AAA 1px 1px 10px;
	border-radius: 5px;
	border: #888 2px solid;
	top: 655px;
	background-color: #EEE;
}


.edit_player input[type="button"]:hover {
	background: #EEE;
	border: 1px solid #CCC;
	text-shadow: 0 1px 3px grey;
}
.edit_player input[type="button"] {
	margin-top: 5px;
	border: 1px solid #C1C1C1;
	background: #EFEFEF -moz-linear-gradient(top, #EFEFEF, gainsboro);
	background: #EFEFEF -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFEFEF), to(gainsboro));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#efefef, endColorStr=#dcdcdc);
	height: 35px;
	font-weight: bold;
	color: #333;
	font-size: 12px;
	padding: 8px 18px;
	white-space: nowrap;
	text-decoration: none;
	text-shadow: 0 1px 0 white;
	zoom: 1;
}

.mediafield
{
	width:100%;
	
}

.stage_list
{
	width:100%;
}

.stage_list tr:hover
{
	background-color: #eee;
}

.stage_list th
{
	padding: 10px;
}

.stage_list td
{
	padding: 10px;
	border-bottom: #690 1px solid;
}

#pageLink
{
	text-align: center;
	
}

#divMessage
{
    margin: 10px;
    padding: 15px;
    box-shadow: #AAA 1px 1px 10px;
    border-radius: 5px;
    border: #888 2px solid;
    background-color: #EEE;
    position: fixed;
    left: 35%;
    right: auto;
    top: 45%;
    bottom: auto;
    text-align: center;
    display: none;
    z-index: 9999;
}


#divPopup
{
    margin: 10px;
    padding: 15px;
    box-shadow: #AAA 1px 1px 10px;
    border-radius: 5px;
    border: #888 2px solid;
    background-color: #EEE;
    position: fixed;
    left: 35%;
    right: auto;
    top: 45%;
    bottom: auto;
    text-align: center;
    display: none;
    z-index: 9999;
}

#divShade
{
    display: none;
    padding:0px;
    margin:0px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    
    opacity: 0.7;
    
    top: 0px;
    left: 0px;
    z-index: 9998;
}

#exitButton
{
    position: relative;
    left: 95%;
    width: 45px;
    top: auto;
    bottom: auto;
    color: #000;
    font-size: 20px;
    background: #EEE;
	border: 1px solid #CCC;
	text-shadow: 0 1px 3px grey;
}

.ie8 #divMessage
{
    margin: 10px;
    padding: 15px;
    box-shadow: #AAA 1px 1px 10px;
    border-radius: 5px;
    border: #888 2px solid;
    background-color: #EEE;
    position: fixed;
    left: 35%;
    right: auto;
    top: 45%;
    bottom: auto;
    text-align: center;
    display: none;
    z-index: 9999;
}

.ie8 #divPopup
{
    margin: 10px;
    padding: 15px;
    box-shadow: #AAA 1px 1px 10px;
    border-radius: 5px;
    border: #888 2px solid;
    background-color: #EEE;
    position: fixed;
    left: 35%;
    right: auto;
    top: 45%;
    bottom: auto;
    text-align: center;
    display: none;
    z-index: 9999;
}

.ie8 #divShade
{
    display: none;
    padding:0px;
    margin:0px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    
    /* Opacity for IE browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);

    top: 0px;
    left: 0px;
    z-index: 9998;
}

#stagePopUp
{
    display: block;
    padding:0px;
    margin:0px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-image:url('../image/main-bg.jpg');
    top: 0px;
    left: 0px;
    z-index: 9998;
}


.loadingBox
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -125px;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    border: #eee 2px solid;
    width: 320px;
    height: 250px;
    text-align: center;
    padding: 10px;
    box-shadow: #333 1px 1px 10px;
}

#loadingMessage {
	display:block;
	overflow:hidden;
	width:300px;
	height:130px;
	margin:0 10px 15px 10px;
	word-wrap: break-word;
}

#swfstage
{
    margin:0; 
    padding:0; 
    position:fixed; 
    top:0px; 
    width:100%; 
    height:100%; 
}

#successMsg
{
    text-align: center;
    font-size: 150%;
    margin:20px 0;
}


/* mediaedit2 styles */

#filterDiv {
	display:inline-block;
	margin-bottom:10px;
}

.filterRow {
	width:100%;
	display:block;
	clear:both;
	float:left;
	margin-bottom:5px;
}

.filterTitle {
	float:left;
	font-weight:bold;
}

.filterBlock {
	float:left;
	margin: 7px 0 7px 10px;
}

#viewPanel {
	overflow:hidden;
	display:block;
}

#dataPanel {
	float:left;
	width:100%;
	z-index:0;
}

#dataSummary {
	font-size:11px;
}

#dataLoadingPanel {
	position:relative;
	top:-550px;
	margin-bottom:-580px;
	left:-2px;
	width:100%;
	height:555px;
	text-align:center;
	background-color:white;
	opacity: 0.7;
	z-index:9999;
	display:inline-block;
}

#dataLoadingPanelInnerDiv {
  display: block;
  width: 300px;
  height: 200px;
  position:relative;
  top: 50%;
  left:50%;
  margin-top: -100px;
  margin-left: -150px;
}

#spinner {
	display:inline-block;
	width:100px;
	height:100px;
}

.detail {
	white-space: nowrap;
}

#detailsPanel {
	float:left;
	margin-left:3%;
	text-align:center;
}

.buttonRow {
	width:350px;
	display:block;
	margin:5px 0;
	height:30px;
}

#thumbnailPreviewContainer {
	width:333px;
	display:inline-block;
}

#thumbnailPreview {
	margin:0 auto;
	display:block;
	width:267px;
	height:200px;
	z-index:1;
	padding:5px;
	border:2px solid #999;
	border-radius:5px;
	cursor:pointer;
	cursor:-moz-zoom-in;
	cursor:-webkit-zoom-in;
	/*background: white url(../image/ajax-loader.gif) no-repeat center center;*/
}

#thumbnailPreview:hover {
	background-color:#efefef;
}

#thumbnailPreview img {
	max-width:257px;
	max-height:190px;
	margin:5px;
	width:257px;
	/*background: white;*/
}

#thumbnailPreview i {
	font-size:140px;
	line-height:200px;
	color:#333;
	/*background: white;*/
}

#thumbnailPreview object {
	/*background: white;*/
}

input[type=checkbox] {
	display:inline-block;
	margin-top:1px;
	margin-right:6px;
	vertical-align:top;
}

#controlButtons {
	height:55px;
	display:block;
}

.controlButton {
	display:inline-block;
	margin:0 2px;
	padding:5px;
	background-color:#eee;
	color:#999;
	border:2px solid #999;
	border-radius:5px;
}

.controlButton:hover {
	color:#333;
	border-color:#333;
}

.controlButton[disabled] {
	color:#eee;
	background-color:#fff;
	border-color:#eee;	
}

.controlButton[disabled]:hover {
	color:#eee;
	border-color:#eee;
}

table#tableDetails {
	width:100%;
	margin-top:15px;
	max-width:350px;
	overflow:hidden;
}

#tableDetails tr:nth-child(even) {
	background-color:#fff;
}

#tableDetails tr:nth-child(odd) {
	background-color:#efefef;
}

#tableDetails td {
	padding:3px;
	text-align:left;
	max-width:247px;
}

#tableDetails td.head {
	font-weight:bold;
	text-align:right;
	width:60px;
}

.colorboxPanel {
	height:100%;
	background:#eee; 
}

.colorboxErrorPanel {
	background:#FFF68F !important; 
}

.dialogContent {
	display:block;
	padding:20px 30px 20px 30px;
	border: 5px solid #444;
}

.dialogNote {
	margin:10px 0 6px 0;
	font-style: italic;
}

.errorContent {
	border:5px solid red !important;
}

.dialogButtonRow {
	display:block;
	text-align:right;
	margin:25px 0 5px 0;
}

#tagMediaSelectorPanel {
	width:480px;
	display:block;
	background-color:#efefef;
	overflow:visible;
}

#tagMediaSelector {
	display:block;
	width:455px;
}

.button-standard {
	width:100px;
}

.field-label {
	width:60px;
	display:inline-block;
}

.field-label-large {
	width:80px;
	display:inline-block;
}

.field-select {
	min-width:100px;
	max-width:66%;
}

.field-input {
	width:75%;
}

.select-unavailable {
	color:red;
	font-weight:bold;
}

#editMediaForceReloadDisplay {
	margin-top:20px;
	display:inline-block;
}

.tab-container {
	display:block;
}

#previewFlash {
	margin:-10px 0;
}

.movie {
	display:block;
	height:400px;
	width:600px;
	background: url('images/transparent_background.gif') repeat scroll right bottom #EEEEEE;
	border:1px solid #ccc;
}

#previewFlashInfo {
	height:12px;
	text-align: right;
}

.movie-controls {
	display:block;
	margin:10px 0 0 0;
	height:40px;
	width:600px;
}

.movie-controls .controlButton {
	width:40px;
	height:40px;
	margin:0 1px 0 0;
	padding:0;
	border-radius:10px;
}

.spacer {
	display:inline-block;
	width:19px;
}

.inner-color-button {
	border: 4px solid #999;
	border-radius:5px;
	display:inline-block;
	width:15px;
	height:15px;
	margin:-1px;
	padding:0;
}

.controlButton:hover .inner-color-button {
	border-color:#333;
}